/*estilo css*/
body {
    background-color: #0a0b10;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: radial-gradient(circle, #161b22 , #0a0b10);
    border: 1px solid #30363d;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    max-width: 500px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #ffffff, #8b949e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.status-badge {
    background: rgba(56, 139, 253, 0.1);
    color: #58a6ff;
    border: 1px solid rgba(56, 139, 253, 0.4);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 8px #58a6ff);
}

.detalle-pedido {
    color: #8b949e;
    margin-top: 20px;
    text-align: left;
}

.highlight {
    color: #58a6ff;
    font-weight: bold;
}